{% extends('base.html.twig') %}

{% block body %}
    <img src = "{{ '/uploads/'~car.image }}" class="img-fluid rounded mx-auto d-block" alt="Responsive image" width="803px" height="255px">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Mark</th>
            <th scope="col">Year</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Mileage</th>
            <th scope="col">Purchase</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ car.model }}</td>
            <td>{{ car.mark }}</td>
            <td>{{ car.year|date("m/d/Y")}}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.Price }} PLN</td>
            <td>{{ car.mileage }} km</td>
            <td><a class="nav-link" href="#">Buy a car</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}